$bodyColor:#F0F0F0;
$space: #D9D9D9;
$green:#87c9b6;


body{
    //background-color: $bodyColor;
    background-image: url('bg.png');
    background-repeat: repeat;
    background-attachment: fixed;
}

::selection {
    background: darken($green,20%);
    color: #fff; 
    }


p{
    line-height: 2.5;
}


.txt{
    max-width: 960px;
    margin: auto;
    padding: 0px 16px;
}

h2{
    text-align: center;
    font-size: 2.5em;
    font-weight: 500;

}

.baselinedec{
    background-image: linear-gradient(rgba(0 0 0 / 0)70%, $green 70%);
}

.sitecontainer{
    max-width: 1320px;
    margin: auto;
    font-size: 16px;
    h2{
            padding: 32px 0px;
    }
}

.break{
    height: 60px;
}

.position-stamp{
    position: relative;
}
.stamp{
    position: absolute;
    transform:rotate(10deg);
    right: 10%;
    top: 70%;
    z-index: -1;
    opacity: 0.5;
}

.block{
    margin: 128px 0px ;
}

.intro{
    p{
        text-align: center;
    }
}


.hero{
    background-image: url(hero.jpg);
    background-position: right center;
    background-repeat: no-repeat;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 24px;
    height: 80vh;

    .h1style{
        position: relative;
        top: 50%;
        transform: translateY(-50%);
        z-index: 1;
        animation-name: slidein;
        animation-duration: .7s;
    h1{
        font-size: 4em;
        font-weight: 700;
        text-shadow: 1px 1px #fff;
    }
    padding: 0px 64px;

    @keyframes slidein {
        from{
            opacity: 0;
            left: -500px;
        }
        to{
            opacity: 1;
            left: 0px;
        }
        
    }


}}

svg{
    width: 70%;
    margin: auto;
    display: block;
}

@media(max-width:640px){
    .h1style{
        text-align: center;
    }
    h1{
        font-size: 1.5em !important; 
    }
    svg{
        width: 50%;

    }
}

.map{
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 24px;
    background-color: $bodyColor;
    padding: 16px;
}
.warp{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    .mapspace{
        width: 412px;
    }
    #com{
        h3{
            font-size: 1.5em;
            font-weight: 500;
        }
    }
}


.end{
    padding: 32px 0px;
    background-color: $green;
    color: #000;
    text-align: center;
}
